<div>
  <div class="flex">
    <h5>Overdue</h5>
    <span id="count-overdue" class="bg-red-200 ml-1 px-1.5"
      ><%= inCompleteOverdue.length %></span
    >
  </div>
  <ul class="list-no my-2">
    <% for(let i = 0; i < inCompleteOverdue.length; i++) { %>
    <li class="Todo-item">
      <div
        class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50"
      >
        <input id="overdueTodos-checkbox-<%= inCompleteOverdue[i].id %>"
        class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200
        cursor-pointer" type="checkbox" <%= inCompleteOverdue[i].completed
        ? "checked" : "" %> onclick="updateTodo(<%=
        inCompleteOverdue[i].id %>)" />
        <label
          for="overdueTodos-checkbox-<%= inCompleteOverdue[i].id %>"
          class="ml-2 text-sm cursor-pointer"
          ><%= inCompleteOverdue[i].title %></label
        >
        <a
          href="#"
          class="hidden trash-icon ml-2"
          onclick="deleteTodo(<%= inCompleteOverdue[i].id %>)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        </a>
      </div>
    </li>
    <% } %>
  </ul>
</div>

<div class="flex">
  <h5>Due Today</h5>
  <span id="count-due-today" class="bg-red-200 ml-1 px-1.5"
    ><%= inCompleteDueToday.length %></span
  >
</div>
<div class="bg-grey-200"></div>
<ul class="list-no my-2">
  <% for(let i = 0; i < inCompleteDueToday.length; i++) { %>
  <li class="Todo-item">
    <div
      class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50"
    >
      <input id="todo-checkbox-2-<%= inCompleteDueToday[i].id %>"
      class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200
      cursor-pointer" type="checkbox" <%= inCompleteDueToday[i].completed
      ? "checked" : "" %> onclick="updateTodo(<%= inCompleteDueToday[i].id
      %>)" />
      <label
        for="todo-checkbox-2-<%= inCompleteDueToday[i].id %>"
        class="ml-2 text-sm cursor-pointer"
        ><%= inCompleteDueToday[i].title %></label
      >
      <a
        href="#"
        class="hidden trash-icon ml-2"
        onclick="deleteTodo(<%= inCompleteDueToday[i].id %>)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
          />
        </svg>
      </a>
    </div>
  </li>
  <% } %>
</ul>

<div class="flex">
  <h5>Due Later</h5>
  <span id="count-due-later" class="bg-red-200 ml-1 px-1.5"
    ><%= inCompleteDueLater.length %></span
  >
</div>
<ul class="list-no my-2">
  <% for(let i = 0; i < inCompleteDueLater.length; i++) { %>
  <li class="Todo-item">
    <div
      class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50"
    >
      <input id="todo-checkbox-<%= inCompleteDueLater[i].id %>"
      class="text-blue-600 rounded w-4 h-4 bg-gray-100 border border-gray-200
      cursor-pointer" type="checkbox" <%= inCompleteDueLater[i].completed
      ? "checked" : "" %> onclick="updateTodo(<%= inCompleteDueLater[i].id
      %>)" />
      <label
        for="todo-checkbox-<%= inCompleteDueLater[i].id %>"
        class="ml-2 text-sm cursor-pointer"
        ><%= inCompleteDueLater[i].title %></label
      >
      <a
        href="#"
        class="hidden trash-icon ml-2"
        onclick="deleteTodo(<%= inCompleteDueLater[i].id %>)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
          />
        </svg>
      </a>
    </div>
  </li>
  <% } %>
</ul>

<div class="flex">
  <h5>Completed Items</h5>
  <span id="count-due-later" class="bg-red-200 ml-1 px-1.5"
    ><%= completeTodos.length %></span
  >
</div>
<ul class="list-no my-2">
  <% for(let i = 0; i < completeTodos.length; i++) { %>
  <li class="Todo-item">
    <div
      class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50"
    >
      <input id="todo-checkbox-<%= completeTodos[i].id %>" class="text-blue-600
      rounded w-4 h-4 bg-gray-100 border border-gray-200 cursor-pointer"
      type="checkbox" <%= completeTodos[i].completed ? "checked" : "" %>
      onclick="updateTodo(<%= completeTodos[i].id %>)" />
      <label
        for="todo-checkbox-<%= completeTodos[i].id %>"
        class="ml-2 text-sm cursor-pointer"
        ><%= completeTodos[i].title %></label
      >
      <a
        href="#"
        class="hidden trash-icon ml-2"
        onclick="deleteTodo(<%= completeTodos[i].id %>)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
          />
        </svg>
      </a>
    </div>
  </li>
  <% } %>
</ul>
